<div class="container landing-page text-center">

<div type="button" class="btn btn-light">
<p><%= link_to "See all the vinyls", vinyls_path %></p>
</div>
<h1> <em>Don't let good music stand by</em></h1>
</div>
