<div class="container landing-page text-center">

<div type="button" class="btn btn-light">
<p><%= link_to "See all the vinyls", vinyls_path %></p>
</div>
<h1>Don't let good music stand by</h1>
<p class="first-p">Because you are a music lover but you don't have enough space to store all your vinyls?</p>
<p class="second-p">Don't worry Rhythm Rentals is here for you!</p>
</div>
