
.landing-page {
  background-color: #909090;
  background-size: cover;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.landing-page h1 {
  font-family: 'Changa One', cursive;
  font-size: 350%;
  position: relative;
  margin-top: 43%;
  margin-bottom: 3%;
}

.landing-page-text {
  margin-top: 15%;
}

.vinyl-background {
  height: 150%;
  position: absolute;
  top: -610px;

  transform: rotate(180deg);
  transition-duration: 5s;
  transition-timing-function: ease-out;
}

.margin {
  margin-bottom: 20px;
}
