
.landing-page{
  background-image: url("landing-page.png");
  background-size: cover;
  height: 800px;
  position: relative;

}
.landing-page h1{
  font-family: 'Changa One', cursive;
  font-size:350%;
  position: absolute;
  bottom : 50px;
  right: 20px;
}
