.landing-page{
  background-image: url("landing-page.png");
  background-size: cover;
  height: 800px;
  position:relative

}
.landing-page h1{
  font-family: 'Lora', serif;
  font-size:250%;
  position: absolute;
  bottom : 100px;
  right: 10px;
}

.first-p{
  font-family: 'Lora', serif;
  font-size:100%;
  position: absolute;
  bottom : 40px;
  right: 10px;
}

.second-p{
  font-family: 'Lora', serif;
  font-size:100%;
  position: absolute;
  bottom : 10px;
  right: 150px;
}
