.navbar-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 12%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  padding: 11px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: #213830;
  transition-timing-function: ease-out;
  transition-duration: 0.6s;
}
.navbar-container-closed {
  padding: 0;
  width: 0;
  overflow: hidden;
  margin-left: 0;
}
.top-of-page {
  top: 10%;
}

.bottom-of-page {
  bottom: 5%;
}

.navbar-container-children {
  height: auto;
  position: relative;
}
.navbar-unordered-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.navbar-list-item {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 5px;
}

.navbar-button {
  font-size: large;
  height: 48px;
  padding: 0;
  width: 140px;
  border-radius: 35px;
  padding-left: 0px;

  background-color: #213830;
  color: #f69ca6;
  border: none;
}

.vinyl-div {
  background-image: asset-url('vinyl-brett-jordan-unsplash.png');
  background-size: cover;
  height: 155px;
  width: 155px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 55%;
}

.half-vinyl-div {
  border-radius: 50%;
  background-image: asset-url('vinyl-brett-jordan-unsplash.png');
  background-size: cover;
  position: fixed;
  z-index: 1;
  height: 155px;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 37%;
  left: -6%;
}

.closebtn {
  transition-timing-function: ease-out;
  transition-duration: 0.9s;
}
.openbtn {
  transition-timing-function: ease-out;
  transition-duration: 0.9s;
}
