.navbar-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 12%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  padding: 37px 11px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #213830;
  // transition-duration: 0.6s;
  left: 0px;
  transition: 0.6s all;
}

.navbar-container-children {
  height: auto;
  position: relative;
}
.navbar-unordered-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
.top-of-page {
  top: 10%;
}
.bottom-of-page {
  bottom: 5%;
}
.navbar-list-item {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 5px;
}

.navbar-button {
  font-size: x-large;
  height: 48px;
  padding: 0;
  width: 140px;
  border-radius: 35px;
  padding-left: 0px;

  background-color: #213830;
  color: #f69ca6;
  border: none;
}

.vinyl-div {
  background-image: asset-url('vinyl-brett-jordan-unsplash.png');
  background-size: cover;
  height: 155px;
  width: 155px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 55%;
}

.left-12{
  left:-12%;
}
.left-12.clicked {
  transition-duration: 0.6s;
}
