.product-card {
  width: 300px;
  border-radius: 5px;
  font-family: 'Lora', serif;
  .index-image {
    width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.wrapper{
  position:relative
}

.slide-out-record {
  height: 300px;
  position: absolute;
  width: 300px;
  transition: all .5s ease-in-out;
  top:0;
  left:0;
  z-index: -1;
}

.wrapper:hover .slide-out-record {
left: 80px;

}

.product-card h5{
  font-family: 'Lora', serif;
  font-weight: bold;
}

.product-card h6{
  font-family: 'Lora', serif;
  font-weight: bold;
}

.product-card p{
  font-family: 'Lora', serif;
  font-weight:lighter;
}
