#searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 35px;
  background-color: #98F5E1;

  border-radius: 30px;
  box-shadow: 0px 0px 8px -4px black;
  padding: 3px;
  input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 5px;
    margin-bottom: 30px;
    padding-bottom:30px;

    }
  }

#searchbar > #search_input{
  padding: 10px;
  width: 1000px;
  padding-bottom: 20px;
  padding: auto;

}


#search_icon{
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  color:white;
  text-decoration:none;
  margin-right: 20px;
}

.search-btn {
  border: none;
  background-color: transparent;

}

.search-icon{
  border: 0;
  margin: 0;
  border-radius: 0;
  margin-right: 5px;


}
