.show-page-image {
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.booking-button{
  background-color: #3D47EC;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  border: none;
  box-shadow: 9px 13px 40px 20px rgba(0,0,0,0.1);
}

.song-info{
  background-color: #3D47EC;
  border-radius: 20px;
  color: white;
  border: none;
  box-shadow: 9px 13px 40px 20px rgba(0,0,0,0.1);
  width: fit-content;
  margin: auto;
}
